/*
小米商城课上示例文件的样式
*/

/*通用样式区*/
body {
    margin: 0;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}


/* 导航条 样式区*/
.nav {
    height: 50px;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
}

.nav a {
    color: #ccc;
}
.nav a:hover {
    color: white;
}
.nav-left li {
    float: left;
    margin-right: 15px;
}

.container {
    width: 1226px;
    margin: 0 auto;
}


.nav-right li {
    float: right;
    margin-left: 15px;
}

/*顶部菜单区*/
.top-menu {
    height: 88px;
    width: 100%;
    margin-top: 50px;
    padding-top: 20px;
}