{% extends 'ch_goods/dz-base2.html' %}
{% block jd-item %}
    <p class="hidden">字数：<span class="font-span"></span></p>
{% endblock jd-item %}
{% block dz-dz-js %}
<script>
    $(function () {
        //   字数控制
        //    *1,当name=ch-font的input单选框的值为value=2时，去掉‘编辑画面文字’按钮(id='font-btn')的隐藏，去掉文本框和确定按钮的'disabled'，以及清单中font-span标签的父标签的隐藏；
        //    * 2，使得‘编辑画面文字’按钮(id='font-btn')隐藏，增加文本框和确定按钮的'disabled'，以及隐藏清单中font-span标签的父标签；

        $(':radio[name="ch-font"]').change(function () {
            font_world();
            price();
        });
        //    * 3，当‘编辑画面文字’按钮被点击，去掉文本框和确定按钮的'disabled'，可以输入画面文字，
        $('#font-btn').click(function () {
            $('#font-context').removeAttr('disabled');
            $('#font-submit').removeAttr('disabled');
        });
        //    * 3.1，捕捉文本框的输入事件，进行编辑框中字数统计，同时，并把字数统计结果给到清单中的font-span标签；
        $('#font-context').on("input propertychange",function () {
             var font_val=$('#font-context').val();
            //匹配非空字符,用正则\S匹配非空字符，g和m表示整个字符串和多行   ********
            var font_rs=font_val.match(/\S/gm);
            if(font_rs){//如果有非空字符，则计算长度和给清单中的font-span中同步字数
                //获得匹配后的非空字符串，用length取得长度，这个长度就是非空的长度
                var font_num=font_rs.length;
                //  给清单中的font-span中同步字数
                $('.font-span').html(font_num);
            }else{
                $('.font-span').html('');//清空清单里font-span中的内容
            }

            price();
        });
        //    * 3.2，点击确定按钮，进行编辑框中字数统计，同时，又使该编辑框和该按钮不可编辑，并把字数统计结果给到清单中的font-span标签；
        $('#font-submit').click(function () {
            //取得textarea的值
            var font_val=$('#font-context').val();
            //匹配非空字符,用正则\S匹配非空字符，g和m表示匹配整个字符串和多行匹配
            var font_rs=font_val.match(/\S/gm);
            if(font_rs){//如果有非空字符，则计算长度和给清单中的font-span中同步字数
                //获得匹配后的非空字符串，用length取得长度，这个长度就是非空的长度
                var font_num=font_rs.length;
                //给清单中的font-span中同步字数
                $('.font-span').html(font_num);
            }else{
                $('.font-span').html('');//清空清单里font-span中的内容
            }
            $('#font-context').attr('disabled','disabled');
            $('#font-submit').attr('disabled','disabled');
            price();

        });
    });
    //    价格函数
    function price () {
//        器型 :radio[name="ch-qx"] 作者：:radio[name="ch-zz"] 颜色：:radio[name="ch-color"]
//        尺寸 select[name="size"] 外框：select[name="ch-wk"] 类型：select[name="ch-type"]
//        人数 select[name="ch-rs"] 人和动物数 select[name="ch-rds"] 动物数：select[name="ch-ds"]
        var p1=$(':radio[name="ch-qx"]:checked').val();// 器型
        var p2=$('select[name="size"] option:selected').val();//尺寸
        var p6=$(':radio[name="ch-color"]:checked').val();//颜色
        //对于字数的计算
        /*
        * 1,如果radio[name="ch-font"]:checked value===1,就表示无字符，置p10=0；就是让字数等于0；
        * 2,如果radio[name="ch-font"]:checked value===2,表示有字符，清单中的font-span标签应该有内容，$('.font-span').text()
        * 2.1，非空字数<=20,置p10=0；就是让字数等于0；20个字符以内免费。
        * 2.2，非空字数>20,置p10=字数-20；从第21个开始算钱。
        * 2.3，非空字符没结果，则，置p10=false，为假，不让结算.
        * */
        if($(':radio[name="ch-font"]:checked').val()==='1'){
            var p10=1;
        }else{
            if($('.font-span').text()){
                if(parseInt($('.font-span').text())<=20){
                    var p10=1;
                }else{
                    var p10=parseInt($('.font-span').text())-20;
                }
            }else{
                var p10=false;
            }
        }
//        对于数量的获取
        /*
        * 1,如果数量输入框有，取值，否则让p11=false。
        *
        * */
        if($('#ch-num').val()){
            var p11=$('#ch-num').val();
        }else{
            var p11=false;
        }

        console.log('p1:'+p1);
        console.log('p2:'+p2);
        console.log('p6:'+p6);
        console.log('p10:'+p10);
        console.log('p11:'+p11);

        if(p1 && p2  && p6  && p10 && p11){
            var price1=p2*10+p6*15+p10*5;
        }else{
            $('#ch-djia').html('');
            $('#ch-djin').html('');
            $('#scwj').attr('disabled','disabled');
            $('#jrgwc').attr('disabled','disabled');
            $('#ch-xj').html('');
            $('#ch-zj').html('');
            return
        }

        var djin=price1*0.4;
        $('#ch-djia').html(price1.toFixed(2));
        $('#ch-djin').html(djin.toFixed(2));
        $('#scwj').removeAttr('disabled');
        $('#jrgwc').removeAttr('disabled');

        //当外框被选时，小计单价和外框，这个外框的价格不能选$(':radio[name="kxwk"]:checked')的价格，要选加入清单的价格，因为即使在可选外框选了，也不见得会加入清单
        var wk_price=$('#wk-dj').text();//将text字符串转为数字
        var ch_xj=parseFloat(price1)+parseFloat(wk_price);//保持类型一致，不然会报NaN；
        //把小计后的价格ch-xj放入
        $('#ch-xj').html(ch_xj.toFixed(2));

        //  总价
        /*
        * 当有小计时，
        * 1,总价=小计*数量
        * 否则
        * 2，总价=单价*数量
        * */
        if($('#ch-xj').text()!=='NaN'){
            var price_zj=parseFloat($('#ch-xj').text())*parseInt($('#ch-num').val());
        }else{
            console.log('小计为空');
            var price_zj=parseFloat($('#ch-djia').text())*parseInt($('#ch-num').val());
        }
        $('#ch-zj').html(price_zj.toFixed(2))
    }
</script>
{% endblock dz-dz-js %}
